<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Whole Fibonacci and Prime Number Checker</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <header> <h1>The Whole Fibonacci and Prime Number Checker</h1> </header>
    <main>
        <p>This website is used to calculate the Fibonacci of an input and then check if that number is prime. Prime
            numbers will be colored in green and non-prime numbers will be colored in red.</p>
        {{{body}}}
    </main>

    <footer> <p class="footer">Ryan Knapp 10473777</p> </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/form.js"></script>
</body>

</html>