<div class='fibcontent'>
    <form id="fibonacciform" method="POST">
        <label for="fib-ind">Please Enter an Integer for your Index:</label>

        <input type="number" class="fib-form" id="fib-ind" name="indNumber" placeholder="Enter an Index">
        <button type="submit">Submit</button>

    </form>

    <div id="errorMessages" class="hidden"> 
        <div class="text-for-errors"></div>
    </div>
    
    <ul id="results"></ul>
   
</div>
